name: Deploy to Netlify

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Trigger Netlify Build
        run: |
          curl -X POST \
          -H "Authorization: Bearer ${{ secrets.NETLIFY_AUTH_TOKEN }}" \
          https://api.netlify.com/api/v1/sites/${{ secrets.NETLIFY_SITE_ID }}/builds
